.JoinPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.JoinContainer > .Logo_Img {
  width: 250px !important;
  height: 150px;
  object-fit: contain;
}

.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  padding: 1vmax;
  font-family: "Roboto";
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  margin: 2vmax;
  font-size: 1.2vmax;
  box-sizing: border-box;
}

.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: white;
  font-family: "Roboto";
  outline: none;
  font-size: 1.2vmax;
  background-color: crimson;
  box-sizing: border-box;
  transform: all 0.3s;
  cursor: pointer;
}
p > span {
  color: crimson;
}

@media only screen and (max-width: 400px){
  .JoinPage{
    height: 100vh;
  }

  .JoinContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #joinInput{
    width: 80%;
    padding: 15px;
    font-size: 1rem;
  }

  .joinbtn{
    width: 80vw;
    padding: 15px;
    font-size: 1rem;
  }
  p{
    color: white;
  }
}
